.idea/workspace.xml
out/
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
*.MF
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar
idea/modules.xml
.idea/*.iml
.idea/modules
.idea/*.xml
.idea/inspectionProfiles